/* Css Reset */

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-collapse: collapse;
}

/* Css Style */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Small */

@media (max-width: 767px) {
    .col-sm-100 {
        background-color: turquoise;
        flex-basis: 100%;
        margin-bottom: 15px;
        height: 300px;
    }
}

/* Medium */

@media (min-width:768px) {
    .col-md-100 {
        background-color: turquoise;
        flex-basis: 100%;
        height: 300px;
    }
    .col-md-50 {
        background-color: rgb(0, 104, 93);
        flex-basis: calc(50% - 15px);
        margin-right: 15px;
        height: 300px;
    }
}

/* Large */

@media (min-width:1024px) {
    .col-lg-50 {
        background-color: turquoise;
        flex-basis: calc(50% - 15px);
        margin-right: 15px;
        height: 300px;
    }
    .col-lg-25 {
        background-color: rgb(0, 104, 93);
        flex-basis: calc(25% - 15px);
        margin-right: 15px;
        height: 300px;
    }
}